*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Header*/
.header{
  text-align: center;
  text-transform: uppercase;
  background: #8B0000;
  color: white;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 200;
}

/* Estilos Navbar*/
.navbar{
  background: #333;
}

.navbar .navbar_items{
  display: flex;
  list-style: none;
  margin: 0 5%;
}

.navbar .navbar_items li{
  padding: 20px 1%;
  margin-right: 10px;
}

.navbar .navbar_items li> a{
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

.navbar .navbar_items li:hover{
  background: rgb(88, 88, 88);
}

form.busqueda{
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
}

form.busqueda > a{
  align-self: center;
  background: white;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;

}

form.busqueda > input{
  align-self: center;
  padding: 5px 0;
  margin-right: 10px;
}

/* Estilos Content*/

.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  box-shadow: -15px 30px 20px rgba(0,0,0,0.2);
  margin-right: 10%;
}

.container .section{
  padding: 30px;
  margin-top: 40px;
}

.container .section  p{
  padding: 10px;
  margin-top: 10px;
}

h4{
  text-align: center;
  font-size: 30px;
}

/* Estilos Footer*/

.footer{
  background: #333;
  padding: 20px 10px;
  color: white;
}

.footer h5{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer p{
  text-align: center;
}